a {
  display: inline-block;
  width: 15%;
  /*height: 5vw;*/
  background-color: #55d37e;
  margin: 0;
  /*border: 1px solid black;*/

  font-family: sans-serif;
  font-size: 2vw;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1% 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*border-bottom: none;*/
}

.active {
  background-color: #2b974e;
  text-shadow: 2px 2px 2px black;
}

section {
  font-family: sans-serif;
  font-size: 1.75vw;
  background-color: #2b974e;
  color: white;
  /*border: 1px solid black;*/
  width: 80%;
  border-radius: 10px;
  border-top-left-radius: 0;
}

section h2 {
  font-size: 4vw;
  text-align: center;
  margin: 0;
  padding: 2% 0 1% 0;
  text-shadow: 2px 2px 2px black;
}

main {
  padding: 20px;
  height: 40vw;
}
